.my_container {
  background: #f9fcfc;
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
  padding: 1%;
}

.my_message {
  height: auto;
  width: 100%;
  background: #41A1DB;
  margin-left: 1%;
  border-radius: 8px;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 1%;
  box-shadow: 0 4px 16px 0 rgba(50, 56, 63, 0.08);
}

.his_message {
  height: auto;
  width: 100%;
  background: #ffffff;
  margin-left: 1%;
  border-radius: 8px;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 1%;
  box-shadow: 0 4px 16px 0 rgba(50, 56, 63, 0.08);
}

.footer {
  background-color: #f9fcfc;
  height: 10%;
  position: fixed;
  bottom: 2rem;
  width: 100%;
  padding: 2%;
  bottom: 0;
  margin: 0 !important;
}

.message {
    display: inline-block;
    height: 100%;
    width: 90%;
    padding: 1%;
}

.body {
  height: 90%;
  overflow:scroll;
  overflow-x:hidden;
}

.my_button {
  background: #41A1DB;
  color: white;
  width: 8rem;
  display: inline-block;
  text-align: center;
  border-radius: 20px;
  border-color: transparent;
  margin: auto;
  margin-left: 1%;
  margin-top: 5px;
}