.container {
  background: #f9fcfc;
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding-top: 30vh;
}

a {
  color: black;
}

/* unvisited link */
a:link {
  color: gray;
}

/* mouse over link */
a:hover {
  color: #41A1DB;
}

/* selected link */
a:active {
  color: #41A1DB;
}

.img-thumbnail {
  border-color: transparent;
}

.company {
  height:12rem;
  width: 10rem;
  display: inline-block;
  background: #ffffff;
  margin-left: 3%;
  border-radius: 8px;
  margin-bottom: 3%;
  box-shadow: 0 4px 16px 0 rgba(50, 56, 63, 0.08);
}

