.my_container {
  background: #f9fcfc;
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding-top: 10vh;
}

.bg-light {
  background-color: white !important;
}

a {
  color: white;
}

.offer {
  height:11rem;
  width: 30rem;
  display: inline-block;
  background: #ffffff;
  margin: 2%;
  border-radius: 8px;
  padding: 1em;
  box-shadow: 0 4px 16px 0 rgba(50, 56, 63, 0.08);
}

p {
  font-size: small;
}

button {
  background: #41A1DB;
  color: white;
  width: 9em;
  height: 3em;
  text-align: center;
  border-radius: 20px;
  border-color: transparent;
  margin: auto;
  margin-top: 5px;
}