.my_container {
  background: #f9fcfc;
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
  padding: 1%;
}

.progress {
  margin-top: 0.5em;
}

.progress-bar {
  color: #41A1DB;
  background-color: #41A1DB;
}

h1 {
  font-size: 1.5rem;
}
 
.subtitle {
  font-size: 14px;
}

a {
  color: black;
  display:inline-block;
}

button {
  background: #41A1DB;
  color: white;
  width: 15em;
  height: 2.5em;
  text-align: center;
  border-radius: 20px;
  border-color: transparent;
  margin: auto;
}