.my_container {
  background: #f9fcfc;
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
  padding: 1%;
  padding-top: 1%;
  
}
h1 {
  font-size: 1.5rem;
}
.bg-light {
  background-color: white !important;
}

.description {
  width: 100%;
  display: inline-block;
  background: #ffffff;
  margin-left: 1%;
  border-radius: 8px;
  padding: 1em;
  box-shadow: 0 4px 16px 0 rgba(50, 56, 63, 0.08);
}

p {
  font-size: 14px;
}

button {
  background: #41a1db;
  color: white;
  width: 8em;
  height: 2.5em;
  text-align: center;
  border-radius: 20px;
  border-color: transparent;
  margin: auto;
  margin-top: 5px;
}

.my_experience {
  width: 100%;
  background: white;
  margin-top: 5%;
}

.competence {
  background: #41a1db;
  width: 90px;
  height: 2rem;
  padding: 0.5%;
  margin: 1%;
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  border-radius: 20px;
  display: inline-block;
  font-weight: bold;
}