.my_container {
  background: #f9fcfc;
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
  padding: 1%;
}


h1 {
  font-size: 1.5rem;
}

.subtitle {
  font-size: 14px;
}

.bg-light {
  background-color: white !important;
}

.entreprise {
  width: 30rem;
  display: inline-block;
  background: #ffffff;
  margin: 2%;
  border-radius: 8px;
  padding: 1em;
  box-shadow: 0 4px 16px 0 rgba(50, 56, 63, 0.08);
}

.annonce {
  width: 30rem;
  display: inline-block;
  background: #ffffff;
  margin: 2%;
  border-radius: 8px;
  padding: 1em;
  box-shadow: 0 4px 16px 0 rgba(50, 56, 63, 0.08);
}

.user {
  width: 30rem;
  display: inline-block;
  background: #ffffff;
  margin: 2%;
  border-radius: 8px;
  padding: 1em;
  box-shadow: 0 4px 16px 0 rgba(50, 56, 63, 0.08);
}

p {
  font-size: small;
}

button {
  background: #41A1DB;
  color: white;
  width: 9em;
  height: 2.5em;
  text-align: center;
  border-radius: 20px;
  border-color: transparent;
  margin: auto;
  margin-top: 5px;
}