<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Jobeet{% endblock %}</title>
    </head>
    <body>
        {% block body %}Bienvenue sur Jobeet{% endblock %}
    </body>
</html>
