{% extends 'base.html.twig' %}

{% block title %}Liste des entreprises{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('liste-entreprise.css') }}">
{% endblock %}

{% block body %}
	<div class="container">
		<h1 style="color: #41A1DB">Liste des entreprises</h1>
		<p>Aucune entreprise trouvée</p>

		{% for entreprise in entreprises.rows %}
			<div class="company">
				<a href="{{ path('profil-entreprise', {id : entreprise.doc._id}) }}">
					<img src="{{ entreprise.doc.image }}" class="img-thumbnail" alt="entreprise">
					<p style="margin-top: 2px">{{ entreprise.doc.name }}</p>
				</a>
			</div>
		{% endfor %}

	</div>
{% endblock %}
