{% extends 'base.html.twig' %}

    {% block title %}Liste des candidatures{% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('liste-candidatures.css') }}">
    {% endblock %}

    {% block body %}
        <div class="container">
            <h1 style="color: #41A1DB">Liste des candidatures</h1>
            <p>Aucune candidature disponible</p>
            <div class="candidature">
                <h5> Nom Prénom </h5>
                <p> Description </p>
                <button>Accepter</button><button>Refuser</button>
            </div>
        </div>
    {% endblock %}