<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Liste des candidatures</title>
        <link rel="stylesheet" href="{{ asset('liste-candidatures.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1 style="color: #41A1DB">Liste des candidatures</h1>
            <p>Aucune candidature disponible</p>
            <div class="candidature">
                <h5> Nom Prénom </h5>
                <p> Description </p>
                <button>Accepter</button><button>Refuser</button>
            </div>
        </div>
    </body>
</html>