{% extends 'base.html.twig' %}

    {% block title %}Liste des offres{% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('liste-offres.css') }}">
    {% endblock %}

    {% block body %}
        <div class="container">
            <h1 style="color: #41A1DB">Liste des offres</h1>
            <p>Aucune offre disponible</p>
            {% for annonce in annonces.rows %}
            <div class="offer">
                <h5>{{ annonce.doc.title }}</h5>
                <p>{{ annonce.doc.description }}</p>
                <button>En savoir plus</button>
            </div>
            {% endfor %}
        </div>
    {% endblock %}