<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

        <title>Liste des matchs</title>
        <link rel="stylesheet" href="{{ asset('liste-matchs.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>
    </head>
    <body>
        <div class="container">
            <h1 style="color: #41A1DB">Liste des matchs</h1>
            <p>Aucun match disponible</p>

            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Match #1</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Match #2</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur</p>
                            <div class="row justify-content-between">
                            <div class="col-4">
                                <p><b><u>Match %</u></b> : </p>
                            </div>
                            <div class="col">
                                <div class="progress" data-toggle="tooltip" data-placement="bottom" title="75%">
                                    <div class="progress-bar w-75 bg-success" role="progressbar"></div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Match #3</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>