<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Liste des offres</title>
        <link rel="stylesheet" href="{{ asset('liste-offres.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1 style="color: #41A1DB">Liste des offres</h1>
            <p>Aucune offre disponible</p>
        </div>
    </body>
</html>