<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Connexion</title>
        <link rel="stylesheet" href="{{ asset('login.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <p class="test">your number is {{ number }}</p>
    </body>
</html>