<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Connexion</title>
        <link rel="stylesheet" href="{{ asset('login.css') }}">
    </head>
    <body>
        <div class="container">
            <h1 style="color: #41A1DB">Connexion</h1>
            <p>Entre vos identifiants de connexion</p>
            <div class="buttons_container">
                <button class="my_button"><a href="{{ path('home') }}">Suivant</a></button>
            </div>
        </div>
    </body>
</html>