{% extends 'base.html.twig' %}
    {% block title %}Connexion{% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{  asset('login.css') }}">
    {% endblock %}

	{% block body %}
		<div class="container">
			<h1 style="color: #41A1DB">Connexion</h1>
			<p>Entrez vos identifiants de connexion</p>


			<form action="{{ path('home') }}" method="post" name="formulario_login">
				<div class="form-group row justify-content-center">
					<label class="col-2 col-form-label" for="username">Utilisateur:</label>
					<div class="col-6">
						<input class="form-control" type="text" id="username" name="_username" value=""/>
					</div>
				</div>
				<div class="form-group row justify-content-center">
					<label class="col-2 col-form-label" for="password">Mot de passe:</label>
					<div class="col-6">
						<input class="form-control" type="password" id="password" name="_password"/>
					</div>
				</div>
				<br/>
				<input type="submit" name="login" value="Se connecter"/>
			</form>
		</div>
	{% endblock %}