<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Profil utilisateur</title>
        <link rel="stylesheet" href="{{ asset('profil-utilisateur.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container col-lg-12">
            <h1 style="color: #41A1DB">Profil</h1>
            <p>Informations concernant l'utilisateur</p>
        </div>
    </body>
</html>