<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Profil entreprise</title>
        <link rel="stylesheet" href="{{ asset('profil-entreprise.css') }}">
    </head>
    <body>
        <div class="container">
            <h1 style="color: #41A1DB">Nom de l'entreprise</h1>
            <p>Informations concernant l'entreprise</p>
        </div>
    </body>
</html>