{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('profil-utilisateur.css') }}">
{% endblock %}

{% block body %}
    <div class="container col-lg-12">
        <h1 style="color: #41A1DB">Profil</h1>
        <p>Informations concernant l'utilisateur</p>
        <div class="description">
            <h4>Description</h4>
            <p>Actuellement en cinquième et dernière année d'école d'ingénieur informatique (EPITA), je suis dynamique, motivée et organisée. Forte d'un premier stage et de diverses activités associatives (internes et externes à l'école), j'ai déjà pu appliquer plusieurs notions liées à ma formation : programmation, organisation ou encore relations humaines. </p>
            <button>Modifier</button>
        </div>
    </div>
{% endblock %}