<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Rechercher sur Jobeet</title>
		<link rel="stylesheet" href="{{ asset('recherche.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="my_container">
            <h1 style="color: #41A1DB">Rechercher sur Jobeet</h1>
        </div>
	</body>
</html>