<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Inscription</title>
		<link rel="stylesheet" href="{{ asset('signup.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="buttons_container">
            <h1 style="color: #41A1DB">Inscription</h1>
				<button class="my_button">
					<a href="{{ path('home') }}">Suivant</a>
				</button>
			</div>
		</div>
	</body>
</html>
