{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('signup.css') }}">
{% endblock %}

{% block body %}
	<div class="my_container">
		<div class="buttons_container">
			<h1 style="color: #41A1DB">Inscription</h1>

			<form action="{{ path('inscription') }}" method="post" name="formulario_login">
				<label for="prenom">Prénom:</label>
				<input type="text" id="prenom" name="_prenom"/>
				<br/>
				<label for="nom">Nom:</label>
				<input type="text" id="name" name="_nom"/>
				<br/>
				<label for="username">Adresse mail:</label>
				<input type="text" id="mail" name="_mail" value=""/>
				<br/>
				<label for="password">Mot de passe:</label>
				<input type="password" id="password" name="_password"/>
				<br/>
				<label for="description">Description:</label>
				<input type="text" id="description" name="_description"/>
				<br/>
				<label for="description">Recruteur ?</label>
				<input type="text" id="description" name="_is_recruteur"/>
				<br/>
				<label for="description">Entreprise:</label>
				<input type="text" id="description" name="_entreprise"/>
				<br/>
				<input type="submit" name="login" value="S'inscrire"/>
			</form>

		</div>
	</div>
{% endblock %}